@import 'fonts';
$main-font: "Century Gothic", sans-serif;

$main-bgcolor: #506094;
$second-bgcolor: #f6f1eb;
$third-bgcolor: #5e6885;

$layout-color: #cecdda;
$element-color: #6d82d0;


html {
    font-size: 15px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;

    font-family: $main-font;
}

.page {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1400px;
}

@import 'blocks/header';

.menu li{
    list-style: none;
}

.title {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.015em;
    color: #ffffff;
}

.text {
    font-weight: 400;
    color: #ffffff;
}

.button {
    width: 11em;
    padding: 1em 0;

    border-radius: 10px;
    background-color: $element-color;
    box-shadow: 5px 5px 1px rgba($layout-color, 0.3);

    color: #fff;
    text-align: center;
    text-decoration: none;

    display: block;

    transition: 0.3s;

    &:hover {
        text-transform: uppercase;
        background-color: darken($color: $element-color, $amount: 10);
    }

    &:active {
        text-transform: uppercase;
        background-color: darken($color: $element-color, $amount: 20);
    }
}

.section__title {
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 15px 30px;

    font-size: 60px;
    
    background-color: rgba($layout-color, 0.85);
}

.page__title {
    margin: 0;
    padding: 0.2em 0.4em;

    font-size: 60px;
    text-align: right;
    background-color: rgba($layout-color, 0.8);
}

@import 'blocks/about';

@import 'blocks/services';

@import 'blocks/results';

@import 'blocks/contacts';

@import 'blocks/faq';

@import 'blocks/footer';

@import 'pages/about-page';

@import 'pages/services-page';

@import 'pages/serv-page';

@import 'pages/policy';

@import 'pages/info';


@media (max-width: 1401px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1281px) {
    .container {
        max-width: 1000px;
    }

    .section__title {
        height: 90px;
        font-size: 50px;
    }
}

@media (max-width: 1065px) {
    .page__title {
        font-size: 50px;
    }
}

@media (max-width: 1001px) {
    .container {
        max-width: 900px;
    }

    .section__title {
        height: 80px;
        font-size: 35px;
    }
}

@media (max-width: 769px) {
    .container {
        padding: 0 30px;
    }
}

@media (max-width: 451px) {
    .page__title {
        font-size: 40px;
    }
}


