.serv {
    padding-top: 50px;
    padding-bottom: 60px;

    background: linear-gradient(to right, rgba($third-bgcolor, 0.7), rgba($third-bgcolor, 0.7)), url(../img/bg-serv.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.serv__title {
    width: 100%;
    max-width: 1200px;
}

.serv__container {
    margin: 70px auto 0;
    padding: 15px;

    font-size: 35px;
    line-height: 40px;
    color: #fff;
}

.serv__item {
    margin-top: 30px;

    & span {
        font-weight: 700;
    }
}

.serv__button {
    width: 300px;

    margin: 50px auto 0;

    font-size: 25px;

    &:hover {
        width: 310px;
        font-size: 28px;
    }

    &:active {
        width: 310px;
        font-size: 28px;
    }
}

.process__title {
    margin-top: 70px;
}

.include {
    padding-bottom: 70px;

    background: linear-gradient(to right, rgba($third-bgcolor, 0.8), rgba($third-bgcolor, 0.8)), url(../img/bg-incl.jpg);
    /*background-position: center center;*/
    background-repeat: no-repeat;
    background-size: cover;
}

.include__container {
    margin: 60px auto 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.include__item {
    width: 300px;
    padding: 10px;
    margin-right: 20px;

    color: #fff;
    text-align: center;

    &:last-child {
        margin-right: 0;
    }
}

.include__item-title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

.include__item-text {
    margin-top: 20px;
    font-size: 18px;
}

.process {
    padding-bottom: 70px;

    background: linear-gradient(to right, rgba($main-bgcolor, 1), rgba($second-bgcolor, 0.8)), url(../img/bg5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.process__title {
    margin: 0;
}

.process__order {
    width: 100%;
    max-width: 1400px;
    margin: 60px auto 0;

    display: flex;
    justify-content: space-between;
    align-items: end;
}

.process__container {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: left;
    align-items: start;
}

.process__item {
    width: 100%;
    max-width: 350px;

    color: #fff;

    &-left {
        margin-top: 65px;
        margin-right: 40px;

        text-align: right;
    }

    &-right {
        margin-top: 180px;
        margin-left: 40px;
    }
}

.process__step {
    opacity: 0.5;

    &-1 {
        margin-bottom: 120px;
    }

    &-2 {
        margin-bottom: 105px;
    }

    &-4 {
        margin-bottom: 135px;
    }

    &-5 {
        margin-bottom: 110px;
    }

    &:hover {
        opacity: 1;
    }
}

.process__step-title {
    font-size: 27px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.process__step-text {
    font-size: 20px;
}


.process__line {
    width: 5px;
    height: 740px;

    border-radius: 5px;
    background-color: #fff;
}

.step { 
    width: 50px;
    height: 50px;
    padding: 2px;
    margin-top: 63px;
    margin-left: -23px;

    border: 4px solid $element-color;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);

    text-align: center;
    font-size: 30px;
}

.order__container {
    width: 100%;
    max-width: 500px;
    height: 500px;
    padding: 25px;

    background-color: rgba($main-bgcolor, 0.3);
    text-align: right;
}

.order__title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

.order__form {
    width: 100%;
    max-width: 430px;
    margin-left: auto;
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    justify-content: right;
}

.order__input { 
    height: 50px;
    margin-bottom: 30px;
    padding: 10px;

    font-size: 23px;
    color: #000;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;

    &::placeholder {
        font-size: 18px;
        color: rgba(#fff, 0.5);
    }

    &:hover {
        cursor: pointer;
        background-color: rgba($main-bgcolor, 0.35);
    }

    &:focus {
        outline: none;
    }
}

.order__button {
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 0 auto 30px;

    font-size: 20px;

    border: none;

    &:hover {
        width: 210px;
        font-size: 23px;

        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

/*Адаптивность 
=====================================================*/

@media (max-width: 1281px) {
    .serv__title {
        font-size: 55px;
    }

    .include__container {
        flex-wrap: wrap;
    }

    .order__container {
        max-width: 400px;
    }

    .process__step {
        &-1 {
            margin-bottom: 85px;
        }
    
        &-2 {
            margin-bottom: 80px;
        }
    
        &-4 {
            margin-bottom: 75px;
        }
    
        &-5 {
            margin-bottom: 75px;
        }
    }
}

@media (max-width: 1001px) {
    .serv__title {
        font-size: 45px;
    }

    .include__container {
        align-items: start;
    }

    .include__item {
        margin-top: 20px;
    }

    .process__step {
        &-1 {
            margin-bottom: 80px;
        }
    
        &-2 {
            margin-bottom: 70px;
        }
    
        &-4 {
            margin-bottom: 90px;
        }
    
        &-5 {
            margin-bottom: 70px;
        }
    }

    .process__step-title {
        font-size: 23px;
    }

    .process__step-text {
        font-size: 18px;
    }
}

@media (max-width: 891px) {
    .process__step {   
        opacity: 1;
        
        &-4 {
            margin-bottom: 70px;
        }
    }

    .order__container {
        max-width: 375px;
    }
}

@media (max-width: 827px) {
    .serv__title {
        height: 140px;
    }

    .serv__container {
        font-size: 30px;
    }

    .process__order {
        flex-direction: column;
        align-items: center;
    }

    .process__container {
        max-width: 720px;
    }

    .process__item {
        max-width: 300px;
    }

    .process__step {
        &-1 {
            margin-bottom: 120px;
        }
    
        &-2 {
            margin-bottom: 125px;
        }
    
        &-4 {
            margin-bottom: 145px;
        }
    
        &-5 {
            margin-bottom: 120px;
        }
    }

    .order__container {
        max-width: 500px;
        margin-top: 40px;

        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .order__title {
        text-align: center;
    }

    .input__text {
        text-align: center;
    }
}

@media (max-width: 687px) {
    .include__title.title {
        font-size: 30.2px;
        padding-top: 18px;
    }

    .process__step {
        &-2 {
            margin-bottom: 100px;
        }

        &-4 {
            margin-bottom: 125px;
        }
    }
}

@media (max-width: 645px) {
    .process__step {
        &-1 {
            margin-bottom: 100px;
        }
    
        &-2 {
            margin-bottom: 95px;
        }
    
        &-4 {
            margin-bottom: 95px;
        }
    
        &-5 {
            margin-bottom: 90px;
        }
    }
}

@media (max-width: 601px) {
    .serv__title {
        font-size: 40px;
        height: 130px;
    }
    .serv__container {
        text-align: center;
        font-size: 25px;
    }

    .include__title.title {
        height: 110px;
        padding-top: 15px;
    }

    .include__item {
        margin-right: 0;
    }

    .process__item {
        max-width: 200px;
    }

    .process__step {
        &-1 {
            margin-bottom: 80px;
        }
    
        &-2 {
            margin-bottom: 75px;
        }
    
        &-4 {
            margin-bottom: 70px;
        }
    
        &-5 {
            margin-bottom: 70px;
        }
    }
}

@media (max-width: 513px) {
    .process__title.title {
        font-size: 30.7px;
        padding: 18px;
    }
    .process__container {
        position: relative;
    }

    .process__item {
        max-width: 350px;

        &-left {
            margin-right: 70px;
        }

        &-right {
            position: absolute;
            right: 70px;
            margin-top: 200px;

            text-align: right;            
        }
    }

    .process__step {
        &-1 {
            margin-bottom: 160px;
        }
    
        &-2 {
            margin-bottom: 180px;
        }
    
        &-4 {
            margin-bottom: 170px;
        }
    
        &-5 {
            margin-bottom: 175px;
        }
    }

    .process__line {
        height: 820px;
    }

    .step {
        margin-top: 80px;

        &:first-child {
            margin-top: 63px;
        }
    }
}

@media (max-width: 473px) {
    .serv__title {
        height: 160px;
        padding-top: 10px;
    }

    .serv__container {
        font-size: 20px;
    }

    .process__container {
        justify-content: space-between;
    }

    .process__step-title {
        font-size: 20px;
    }

    .process__item {
        max-width: 250px;
        
        &-left {
            margin-right: 40px;
        }
    }

    .process__step {
        &-1 {
            margin-bottom: 160px;
        }
    
        &-2 {
            margin-bottom: 165px;
        }
    
        &-4 {
            margin-bottom: 160px;
        }
    
        &-5 {
            margin-bottom: 160px;
        }
    }

    .order__title {
        font-size: 22px;
    }

    .input__text {
        font-size: 12px;
    }
}

@media (max-width: 365px) {
    .include__title.title {
        height: 135px;
    }

    .process__item {
        max-width: 200px;

        &-left {
            margin-right: 30px;
        }

        &-right {
            right: 50px;
        }
    }

    .process__step {
        &-1 {
            margin-bottom: 180px;
        }
    
        &-2 {
            margin-bottom: 160px;
        }
    
        &-4 {
            margin-bottom: 150px;
        }
    
        &-5 {
            margin-bottom: 155px;
        }
    }

    .process__step-text {
        font-size: 13px;
    }
}

@media (max-width: 341px) {
    .process__title.title {
        height: 110px;
        padding-top: 15px;
    }
    .serv__title {
        font-size: 32px;
        padding-left: 30px;
    }

    .serv__container {
        font-size: 18px;
    }

    .serv__button {
        width: 230px;
    
        &:hover {
            width: 240px;
        }
    
        &:active {
            width: 240px;
        }
    }

    .include__title.title {
        font-size: 28px;
    }

    .order__container {
        height: 550px;
    }

    .order__title {
        font-size: 20px;
    }

    .order__button {
        width: 160px;
        font-size: 15px;

        &:hover {
            width: 170px;
            font-size: 17px;
        }

        &:active {
            width: 170px;
            font-size: 17px;
        }
    }
}