.contacts {
    padding-bottom: 70px;

    background: linear-gradient(to right, rgba($main-bgcolor, 1), rgba($second-bgcolor, 0.6)), url(../../img/bg5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts__container {
    margin: 70px auto 0;

    display: flex;
    justify-content: center;
    align-items: start;

    background: linear-gradient(to left, rgba($main-bgcolor, 0.4), rgba($second-bgcolor, 0.4));
}

.contacts-info {
    width: 100%;
    max-width: 700px;
    padding: 80px 50px;

    text-align: center;
}

.contacts-info__title {
    font-size: 35px;
    color: #000;
    margin-bottom: 60px;
}

.contacts-info__item {
    margin-bottom: 70px;
}

.contacts-info__item-title {
    font-size: 28px;
    margin-bottom: 40px;
}

.contacts-info__link {
    display: block;

    font-size: 25px;
    line-height: 35px;
    color: #000;

    &:hover {
        text-decoration: none;
        font-weight: 700;
    }

    &:active {
        text-decoration: none;
        font-weight: 700;
    }
}

.contacts__feedback {
    width: 100%;
    max-width: 700px;
    padding: 80px 50px;
}

.form__title {
    font-size: 35px;
    color: #fff;
    text-align: center;
}

.contacts__form {
    margin-top: 60px;
}

.contacts__input {
    width: 500px;
    height: 70px;
    padding: 15px;
    margin: 0 auto 30px;

    display: block;

    font-family: inherit;
    font-size: 25px;
    color: #000;

    border: 2px solid $element-color;
    background-color: rgba(255, 255, 255, 0.3);

    &::placeholder {
        color: #fff;
        opacity: 0.8;
    }

    &:focus {
        outline: none;
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.contacts__button {
    width: 200px;
    height: 70px;
    margin: 0 auto 32px;
    padding: 20px;

    border: none;
    font-family: inherit;
    font-size: 25px;

    &:hover {
        width: 210px;
        height: 72px;
        margin: 0 auto 30px;

        font-size: 28px;
    }

    &:active {
        width: 210px;
        height: 72px;
        margin: 0 auto 30px;

        font-size: 28px;
    }
}

.form__info {
    width: 400px;
    margin: 0 auto;

    text-align: center;
    font-size: 20px;
}

.policy {
    color: #000;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

/*Адаптивность 
====================================================*/
 