.contacts {
    padding-bottom: 70px;

    background: linear-gradient(to right, rgba($main-bgcolor, 1), rgba($second-bgcolor, 0.6)), url(../img/bg5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts__container {
    margin: 70px auto 0;

    display: flex;
    justify-content: center;
    align-items: start;

    background: linear-gradient(to left, rgba($main-bgcolor, 0.4), rgba($second-bgcolor, 0.4));
}

.contacts-info {
    width: 100%;
    max-width: 700px;
    padding: 80px 50px;

    text-align: center;
}

.contacts-info__title {
    font-size: 35px;
    color: #000;
    margin-bottom: 60px;
}

.contacts-info__item {
    margin-bottom: 70px;
}

.contacts-info__item-title {
    font-size: 28px;
    margin-bottom: 40px;
}

.contacts-info__link {
    display: block;

    font-size: 25px;
    line-height: 35px;
    color: #000;

    &:hover {
        text-decoration: none;
        font-weight: 700;
    }

    &:active {
        text-decoration: none;
        font-weight: 700;
    }
}

.contacts__feedback {
    width: 100%;
    max-width: 700px;
    padding: 80px 50px;
}

.form__title {
    font-size: 35px;
    color: #fff;
    text-align: center;
}

.contacts__form {
    margin-top: 60px;
}

.contacts__input {
    width: 500px;
    height: 70px;
    padding: 15px;
    margin: 0 auto 30px;

    display: block;

    font-family: inherit;
    font-size: 25px;
    color: #000;

    border: 2px solid $element-color;
    background-color: rgba(255, 255, 255, 0.3);

    &::placeholder {
        color: #fff;
        opacity: 0.8;
    }

    &:focus {
        outline: none;
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.contacts__button {
    width: 200px;
    height: 70px;
    margin: 0 auto 32px;
    padding: 20px;

    border: none;
    font-family: inherit;
    font-size: 25px;

    &:hover {
        width: 210px;
        height: 72px;
        margin: 0 auto 30px;

        font-size: 28px;
    }

    &:active {
        width: 210px;
        height: 72px;
        margin: 0 auto 30px;

        font-size: 28px;
    }
}

.form__info {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    text-align: center;
    font-size: 20px;
}

.policy {
    color: #000;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

/*Адаптивность 
====================================================*/
 
@media (max-width: 1401px) {
    .contacts__info {
        max-width: 600px;
    }

    .contacts__feedback {
        max-width: 600px;
    }

    .contacts__input {
        width: 400px;
    }
}

@media (max-width: 1281px) {
    .contacts__info {
        max-width: 500px;
    }

    .contacts__feedback {
        max-width: 500px;
    }

    .contacts__input {
        width: 350px;
    }
}

@media (max-width: 1001px) {
    .contacts__info {
        max-width: 450px;
    }

    .contacts__feedback {
        max-width: 450px;
    }

    .contacts__input {
        height: 60px;
        font-size: 23px;

        &::placeholder {
            font-size: 23px;
        }
    }

    .form__info {
        width: 300px;
        font-size: 15px;
    }
}

@media (max-width: 769px) {
    .contacts-info__title {
        font-size: 30px;
    }

    .contacts-info__item-title {
        font-size: 22px;
    }

    .contacts-info__link {
        font-size: 20px;
    }

    .form__title {
        font-size: 30px;
    }

    .contacts__input {
        width: 300px;
        height: 50px;
        font-size: 20px;

        &::placeholder {
            font-size: 20px;
        }
    }

    .contacts__button.button {
        width: 180px;
        height: 60px;
        padding: 14px;

        font-size: 22px;
    
        &:hover {
            width: 190px;
            height: 62px;
    
            font-size: 24px;
        }
    
        &:active {
            width: 190px;
            height: 62px;
    
            font-size: 24px;
        }
    }

    .form__info {
        font-size: 12px;
    }
}

@media (max-width: 621px) {
    .contacts__title.title {
        font-size: 30px;
        padding-top: 20px;
    }

    .contacts__container {
        flex-direction: column;
    }

    .contacts-info {
        padding: 50px 0 0;
    }

    .contacts-info__item {
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contacts-info__item-title {
        margin: 0 40px 0 0;
    }

    .contacts__feedback {
        margin: 0 auto;
        padding: 50px 0;
    }
}

@media (max-width: 373px) {
    .contacts__title.title {
        height: 100px;
        padding-top: 13px;
    }

    .contacts-info__title {
        font-size: 27px;
    }

    .contacts-info__item {
        justify-content: space-between;
    }

    .contacts-info__item-title {
        font-size: 20px;
        margin: 0;
    }

    .form__title {
        font-size: 27px;
    }

    .contacts__input {
        width: 250px;
    }

    .form__info {
        max-width: 250px;
        font-size: 10px;
    }
}

@media (max-width: 321px) {
    .contacts-info__item {
        flex-direction: column;
    }

    .contacts-info__item-title {
        margin-bottom: 15px;
    }
}

@media (max-width: 301px) {
    .contacts__input {
        width: 215px;
    }
}