.header {
    text-align: center;
    height: 100%;
    padding-bottom: 90px;

    background: linear-gradient(to right, rgba($main-bgcolor, 0.9), rgba($second-bgcolor, 0.5)), url(../img/bg1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.menu {
    width: 100%;
    max-width: 1600px;
    height: 240px;
    background-color: transparent;
    position: fixed;
    z-index: 9;
    padding-top: 75px;
    top: 0px;
}

.menu.active {
    background: linear-gradient(to bottom, rgba($main-bgcolor, 1) 50%, rgba($main-bgcolor, 0));
}

.header__menu {
    height: 86px;
    width: 100%;
    max-width: 1600px;

    background-color: rgba($layout-color, 0.8);

    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.menu__mobile {
    display: none;
}

.header__logo {
    width: 200px;
    height: 200px;
    z-index: 2;
}

.header-nav {
    width: 100%;
    padding-left: 0;
    margin: 0 10px;
    z-index: 1;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav__item {
    padding: 0 5px;
    display: inline-block;
    
    font-size: 30px;

    transition: background linear 0.3s;

    &:hover {
        text-transform: uppercase;
        font-weight: 700;
    }

    &:active {
        text-transform: uppercase;
        font-weight: 700;
    }
}

.header-nav__item-phone {
    width: 230px;
    margin: 5px;
}

.header-nav__link {
    text-decoration: none;
    color: #272163;
    font-family: $main-font;
}

.header__phone {
    display: inline-block;

    text-align: right;
    text-decoration: none;
    color: #272163;
    font-weight: 700;

    transition: 0.3s;

    &:hover {
        text-decoration: underline;
    }

    &:active {
        color: lighten($color: #272163, $amount: 20)
    }
}

.header__block {
    width: 100%;
    max-width: 950px;
    margin-left: 80px;
    margin-top: 300px;
    margin-bottom: 145px;

    text-align: left;
}

.header__title {
    font-size: 75px;
}

.header__text {
    font-size: 44px;
}

.header__arrow {
    margin-left: 195px;
}

.header__button {
    margin-left: 155px;
    margin-top: 0.5em;
    font-size: 40px;

    &.button {
        width: 11.5em;
    }
}

.swiper-pagination-bullet {
    background-color: $element-color;
    opacity: 0.6;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    width: 10px;
    height: 10px;
}

.swiper-button-prev,
.swiper-button-next {
    color: $element-color;
}

.header-form {
    width: 100%;
    max-width: 500px;
    padding: 50px 40px 30px 30px;

    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
}

.header-form.non-active {
    right: -100%;
}

.header-form__close {
    width: 40px;
    height: 40px;

    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;

    & span {
        width: 40px;
        height: 0px;

        transform: rotate(45deg);

        background-color: $element-color;
        font-size: 0;
    }

    & span:after,
    & span:before {
        content: '';
        width: 40px;
        height: 2px;

        display: block;
        background-color: $element-color;

        position: absolute;
    }

    & span:after {
        top: 20px;
        transform: rotate(-45deg);
    }

    & span:before {
        top: 20px;
        transform: rotate(45deg);
    }

    &:hover {
        cursor: pointer;
    }
}


.header-form__title {
    font-size: 30px;
}

.header-form__input {
    width: 100%;
    max-width: 400px;
    height: 60px;
    margin: 20px auto 0;

    display: block;

    border: none;
    border-bottom: 1px solid #808080;

    font-family: inherit;
    font-size: 20px;

    &:focus {
        outline: none;
    }

    &::placeholder {
        font-size: 20px;
    }
}

.header-form__button.button {
    margin: 30px auto 15px;
    
    border: none;

    font-family: inherit;
    font-size: 20px;

    &:hover {
        outline: none;
        cursor: pointer;
    }

    &:focus {
        outline: none;
        cursor: pointer;
    }
}

/*Адаптация 
====================================================*/

@media (max-width: 1401px) {
    .header-nav__item {
        padding: 0 10px;

        font-size: 25px;

        &-phone {
            width: 210px;
        }
    }

    .header__title {
        font-size: 65px;
    }

    .header__text {
        font-size: 40px;
    }
}

@media (max-width: 1281px) {
    .menu {
        height: 200px;
        padding-top: 50px;
    }

    .header__menu {
        height: 76px;
    }

    .header-nav__item {
        font-size: 20px;

        &-phone {
            width: 210px;
        }
    }

    .header__logo {
        width: 150px;
        height: 150px;
    }

    .header__phone {
        font-size: 25px;
    }

    .header__block {
        max-width: 800px;
    }

    .header__title {
        font-size: 60px;
    }

    .header__text {
        font-size: 35px;
    }

    .header__arrow {
        width: 100px;
        height: auto;
    }

    .header__button {
        margin-left: 150px;
        font-size: 30px;
    }
}

@media (max-width: 1065px) {
    .menu {
        height: 160px;
        padding-top: 40px;
    }

    .header__menu {
        height: 70px;
    }

    .header-nav__item {
        min-width: 82px;
        padding: 0 5px;

        &-phone {
            min-width: 170px;
        }
    }

    .header__logo {
        width: 120px;
        height: 120px;
    }

    .header__phone {
        max-width: 200px;
        font-size: 20px;
    }

    .header__block {
        max-width: 600px;

        & .header__button {
            padding: 18px;
        }
    }

    .header__title {
        font-size: 48px;
    }

    .header__text {
        font-size: 30px;
    }

    .header__arrow {
        margin-left: 150px;
    }

    .header__button {
        margin-left: 120px;
        font-size: 28px;
    }
}

@media (max-width: 950px) {
    .header-nav__link {
        font-size: 16px;
    }

    .header-nav__item-phone {
        width: 150px;
    }

    .header__phone {
        font-size: 18px;
    }
}

@media (max-width: 901px) {
    .header {
        padding-top: 50px;
    }

    .menu {
        height: 140px;
    }

    .menu__desktop {
        display: none;
    }

    .menu__mobile {
        width: 100%;
        max-width: 900px;
        height: 60px;
        padding: 0 20px;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: rgba($layout-color, 0.8);
    }

    .header__logo {
        display: block;
    }
    
    .menu__burger {
        display: block;
        overflow: hidden;
        cursor: pointer;
        margin: 0 0 0 30px;
        padding: 0 30px 0 0;
        width: 70px;
        height: 70px;
        font-size: 0;
        position: relative;

        & span {
            display: block;
            position: absolute;
            background-color: #272163;
            height: 6px;
            width: 50px;
            top: 33.5px;
            left: 5px;
            right: 5px;
            transition: background 0s 0.3s;  
        }

        & span:after,
        & span:before  {
            position: absolute;
            display: block;
            height: 6px;
            width: 100%;
            background-color: #272163;
            content: '';
            transition-duration: 0.3s, 0.3s;  
            transition-delay: 0.3s, 0s;
        }

        & span:after {
            top: 15px;
        }
        & span:before {
            bottom: 15px;
        }  
        &.close span {
            background: none;
        }
        &.close span:after {
            top: 0px;
            transform: rotate(45deg);
        }
        &.close span:before {
            bottom: 0px;
            transform: rotate(-45deg);
        } 
    }     

    .header-nav__mobile {
        width: 100%;
        max-width: 200px;

        text-align: center;

        background-color: rgba($layout-color, 1);

        display: none;
        
        flex-direction: column;
        position: fixed;
        right: 0;
        z-index: 5;

        &.active {
            display: flex;
            top: 85px;
        }

        & .header-nav__item {
            text-align: left;
            margin-left: 0;
        }
    }
    

    .header__phone {
        min-width: 220px;
        padding: 20px;

        display: block;
        
        text-align: center;
        font-size: 23px;
    }

    .header__block {
        margin-top: 200px;
        margin-bottom: 100px;
    }
}

@media (max-width: 671px) {
    .header {
        background-position: right;
    }

    .header__block {
        margin: 120px 0 40px;
        padding: 0 30px;
    }

    .title.header__title {
        max-width: 570px;

        text-align: center;
        font-weight: 700;
    }

    .header__text {
        text-align: center;
    }

    .header__arrow {
        margin: 0 auto;

        display: block;
    }

    .header__button {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 451px) {
    .menu__mobile {
        padding: 20px 0 20px 10px;
    }

    .header__title {
        font-size: 35px;
    }
    
    .header__text {
        font-size: 25px;
    }

    .header__arrow {
        width: 70px;
        height: auto;
    }

    .header__button {
        font-size: 25px;
    }
}

@media (max-width: 421px) {
    .header__logo {
        width: 70px;
        height: 70px;
    }

    .header__phone {
        min-width: 150px;
        padding: 10px;
        font-size: 18px;
    }

    .menu__mobile {
        padding-right: 10px;
    }

    .menu__burger {
        height: 50px;
        width: 50px;
        padding-right: 0;
        margin-left: 0;

        & span {
            width: 35px;
            height: 4px;

            top: 23px;
        }

        & span:before,
        & span:after {
            width: 35px;
            height: 4px;
        }

        & span:before {
            bottom: 10px;
        }

        & span:after {
            top: 10px;
        }
    }

    .header-form__title {
        font-size: 25px;
    }

    .header-form__input {
        height: 40px;
        font-size: 15px;

        &::placeholder {
            font-size: 15px;
        }
    }
}

@media (max-width: 351px) {

    .header__title {
        font-size: 30px;
    }

    .header__text {
        font-size: 20px;
    }

    .header__button {
        font-size: 20px;
    }
}

@media (max-width: 291px) {
    .header__logo {
        width: 60px;
        height: 60px;
    }

    .header__phone {
        height: 40px;
        padding: 10px;

        font-size: 15px;
    }

    .menu__burger {
        height: 40px;

        & span {
            top: 18px;
        }
    }

    .header__button {
        font-size: 18px;
    }
}


